*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    min-width: 97vw;
    min-height: 100vh;
    background-color: antiquewhite;
}
.main_panel{
    width: 100%;
    min-height: 14vh;
    background-color: rgb(129, 119, 196);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
}
.aria{
    width: 100%;
    min-height: 86vh;
    background-color: rgb(241, 240, 222);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 5% 5% 0 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 0 1px 0 1px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
select{
    
    height: 40px;
    border-radius: 4px;
    margin: 0 1px 0 2px;
    
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 16px;
    /* font-size: 0; */
    /* color: transparent; */
}

#main_panel_sec_btn_textstyle-fontfamily{
    width: 250px;
    padding-right: 60px;
    background-position: 191px 0px;
}

#main_panel_sec_btn_textstyle-fontsize{
    width: 150px;
    padding-right: 40px;
    background-position: 90px 0px;
}
#main_panel_sec_btn_code--button{
    background-image: url(icons/icons8-линия-24.png);
}
#main_panel_sec_btn_fontstyle-bold{
    background-image: url(icons/icons8-жирный-24.png);
}
#main_panel_sec_btn_fontstyle-italic{
    background-image: url(icons/icons8-курсив-24.png);
}
#main_panel_sec_btn_fontstyle-underline{
    background-image: url(icons/icons8-подчеркивание-24.png);
}
#main_panel_sec_btn_fontstyle-linethrough{
    background-image: url(icons/icons8-зачеркивание-24.png);
}
#main_panel_sec_btn_textalign-left{
    background-image: url(icons/icons8-выровнять-по-левому-краю-24.png);
}
#main_panel_sec_btn_textalign-right{
    background-image: url(icons/icons8-выровнять-по-правому-краю-24.png);
}
#main_panel_sec_btn_textalign-center{
    background-image: url(icons/icons8-выровнять-по-центру-24.png);
}

#main_panel_sec_btn_textstyle-fontfamily{
    background-image: url(icons/icons8-общий-текст-39.png);
}
#main_panel_sec_btn_textstyle-fontsize{
    background-image: url(icons/icons8-общий-текст-39\ \(size\).png);
}
#main_panel_sec_btn_textstyle-textcolor{
    background-image: url(icons/icons8-палитра-35.png);
}
#main_panel_sec_btn_textstyle-backgroundcolor{
    background-image: url(icons/icons8-очень-большие-иконки-39\ \(1\).png);
}

#main_panel_sec_btn_password-btnpasword{
    background-image: url(icons/icons8-блокировка-2-24.png);
}

.color_text{
    width: 342px;
    height: 210px;
    position: absolute;
    top:15vh;
    left: 50vw;
    /* background-color: rgba(255, 99, 71, 0.383); */
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid rgb(182, 182, 245);
    

}
.main_panel_sec_btn_textstyle_choisebox-header{
    width: 99%;
    height: 30px;
    margin: 0 0 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 245);
    color: white;
}
.head_color_box{
    width: 80%;
    text-align: left;
    margin-left: 10px;
    
}
.close{
    width: 25px;
    height: 25px;
    margin: auto;
    background-image: url(icons/times.svg);
    background-position: center;
    background-repeat: no-repeat;

}
.color_box{
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50%;
}
/* .color_box:nth-of-type(1){
    background-color: rgb(241, 35, 35);
} */
.color_box:nth-of-type(2){
    background-color: rgb(248, 12, 12);
}
.color_box:nth-of-type(3){
    background-color: rgb(245, 153, 153);
}
.color_box:nth-of-type(4){
    background-color: rgb(255, 115, 0);
}
.color_box:nth-of-type(5){
    background-color: rgb(255, 217, 0);
}
.color_box:nth-of-type(6){
    background-color: rgb(255, 255, 0);
}
.color_box:nth-of-type(7){
    background-color: rgb(184, 240, 138);
}
.color_box:nth-of-type(8){
    background-color: rgb(21, 255, 0);
}
.color_box:nth-of-type(9){
    background-color: rgb(43, 194, 43);
}
.color_box:nth-of-type(10){
    background-color: rgb(4, 112, 4);
}
.color_box:nth-of-type(11){
    background-color: rgb(106, 168, 139);
}
.color_box:nth-of-type(12){
    background-color: rgb(51, 145, 140);
}
.color_box:nth-of-type(13){
    background-color:rgb(0, 255, 234);
}
.color_box:nth-of-type(14){
    background-color: rgb(99, 150, 247);
}
.color_box:nth-of-type(15){
    background-color: rgb(41, 82, 172);
}
.color_box:nth-of-type(16){
    background-color: rgb(38, 6, 180);
}
.color_box:nth-of-type(17){
    background-color: rgb(37, 17, 126);
}
.color_box:nth-of-type(18){
    background-color: rgb(107, 54, 121);
}
.color_box:nth-of-type(19){
    background-color: rgb(255, 0, 255);
}
.color_box:nth-of-type(20){
    background-color: rgb(252, 252, 252);
}
.color_box:nth-of-type(21){
    background-color: rgb(105, 110, 108);
}
.color_box:nth-of-type(22){
    background-color: rgb(7, 7, 7);
}

.main_panel_sec_windows_textstyle-backgroundcolor{
    width: 342px;
    height: 230px;
    position: absolute;
    top:15vh;
    left: 50vw;
    padding: 10px;

    border: 2px solid rgb(182, 182, 245);
}

.main_panel_sec_windows_textstyle-backgroundcolor-ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}
.main_panel_sec_btn_background_choisebox-header{
    width: 99%;
    height: 30px;
    margin: 0 0px -26px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 245);
    color: white;
}

[id^="tabs-"]{
    padding: 10px;
    height: 160px;
    width: 325px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: transparent;
    border: none;

}
.color_box_backgound{
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50%;
}
[href^="#tabs"]{
    padding: 2px 5px 2px 5px;
}
.color_box_backgound:nth-of-type(1){
    background-color: rgb(7, 7, 7);
}
.color_box_backgound:nth-of-type(2){
    background-color: rgb(248, 12, 12);
}
.color_box_backgound:nth-of-type(3){
    background-color: rgb(245, 153, 153);
}
.color_box_backgound:nth-of-type(4){
    background-color: rgb(255, 115, 0);
}
.color_box_backgound:nth-of-type(5){
    background-color: rgb(255, 217, 0);
}
.color_box_backgound:nth-of-type(6){
    background-color: rgb(255, 255, 0);
}
.color_box_backgound:nth-of-type(7){
    background-color: rgb(184, 240, 138);
}
.color_box_backgound:nth-of-type(8){
    background-color: rgb(21, 255, 0);
}
.color_box_backgound:nth-of-type(9){
    background-color: rgb(43, 194, 43);
}
.color_box_backgound:nth-of-type(10){
    background-color: rgb(4, 112, 4);
}
.color_box_backgound:nth-of-type(11){
    background-color: rgb(106, 168, 139);
}
.color_box_backgound:nth-of-type(12){
    background-color: rgb(51, 145, 140);
}
.color_box_backgound:nth-of-type(13){
    background-color:rgb(0, 255, 234);
}
.color_box_backgound:nth-of-type(14){
    background-color: rgb(99, 150, 247);
}
.color_box_backgound:nth-of-type(15){
    background-color: rgb(41, 82, 172);
}
.color_box_backgound:nth-of-type(16){
    background-color: rgb(38, 6, 180);
}
.color_box_backgound:nth-of-type(17){
    background-color: rgb(37, 17, 126);
}
.color_box_backgound:nth-of-type(18){
    background-color: rgb(107, 54, 121);
}
.color_box_backgound:nth-of-type(19){
    background-color: rgb(255, 0, 255);
}
.color_box_backgound:nth-of-type(20){
    background-color: rgb(252, 252, 252);
}
.color_box_backgound:nth-of-type(21){
    background-color: rgb(105, 110, 108);
}
.color_box_backgound:nth-of-type(22){
    background-color: rgb(7, 7, 7);
}

.color_box_backgound_image{
    width: 70px;
    height: 40px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.color_box_backgound_image:nth-of-type(1){
    background-image: url(https://images.unsplash.com/photo-1592525239384-f00511efe30d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2005&q=80);
}
.color_box_backgound_image:nth-of-type(2){
    background-image: url(https://images.unsplash.com/photo-1592731027357-81568ad1ead9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}
.color_box_backgound_image:nth-of-type(3){
    background-image: url(https://images.unsplash.com/photo-1592513388667-c01b5a7b7dc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
}
.color_box_backgound_image:nth-of-type(4){
    background-image: url(https://images.unsplash.com/photo-1516048836468-35ae8eb391eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.color_box_backgound_image:nth-of-type(5){
    background-image: url(https://images.unsplash.com/photo-1592684124436-9c56b1d46839?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
}
.color_box_backgound_image:nth-of-type(6){
    background-image: url(https://images.unsplash.com/photo-1592514302393-c7c44b038323?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
}
.color_box_backgound_image:nth-of-type(7){
    background-image: url(https://images.unsplash.com/photo-1592468257342-8375cb556a69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);
}
.color_box_backgound_image:nth-of-type(8){
    background-image: url(https://images.unsplash.com/photo-1592492910507-c9ba30c7c5b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.color_box_backgound_image:nth-of-type(9){
    background-image: url(https://images.unsplash.com/photo-1592581818403-a000539688dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.color_box_backgound_image:nth-of-type(10){
    background-image: url(https://images.unsplash.com/photo-1563364664-399838d1394c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
}
.color_box_backgound_image:nth-of-type(11){
    background-image: url(https://images.unsplash.com/photo-1592587445145-04498cbba81c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.color_box_backgound_image:nth-of-type(12){
    background-image: url(https://images.unsplash.com/photo-1592652426549-6b44dce89711?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
.form-signin{
    width: 200px;
    height: 250px;
    padding: 15px;
    position: absolute;
    top:15vh;
    left: 70vw;
    background-color: rgba(245, 245, 245, 0.582);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(182, 182, 245);

}
.main_panel_sec_btn_password-btnpasword--sing_in{
    width: 80px;
    height: 40px;
    background-color: rgb(129, 119, 196);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    width: 95%;
    height: 12%;
    margin-bottom: 5px;
}
#inputText{
    margin-top: -30px;
}
.accets{
    outline: green;
    border: green 2px solid;
}
.reject{
    outline: red;
    border: red 2px solid;
}
.check_your_login_or_password{
    font-size: 10px;
    color: red;
}
#main_create_table_list_panel{
    padding-left: 40%;
    padding-right: 40%;
}
[name="textaria"]{
    height: 86vh;
    padding: 30px;
}
#main_create_table_list_panel_btn_save{
    background-image: url(icons/icons8-сохранить-и-закрыть-24.png);
}
#main_create_table_list_panel_btn_table{
    background-image: url(icons/icons8-border-all-24.png);
}
#main_create_table_list_panel_btn_ol{
    background-image: url(icons/icons8-нумерованный-список-24.png);
}
#main_create_table_list_panel_btn_ul{
    background-image: url(icons/icons8-содержимое-24.png);
}
.box_table{
    height: 70vh;
    width: 65%;
    background-color: rgba(182, 182, 245, 0.95);
    padding: 30px 20px 20px 30px;
    position: absolute;
    top: 16vh;
    left: 16%;
}
.border_style_0{
    border: solid;
}
.border_style_1{
    border: dashed;
}
.border_style_2{
    border: dotted;
}
.border_style_3{
    border: double;
}
/* .border_color_0 */
.border_color_0{
    border: lime; 
}
.border_color_1{
    border: yellow; 
}
.border_color_2{
    border: yellowgreen; 
}
.border_color_3{
    border: green; 
}
.border_color_4{
    border: orange; 
}
.border_color_5{
    border: orangered; 

}
.border_color_6{
    border: blue; 
}
.border_color_7{
    border: blueviolet; 
}
.border_color_8{
    background-color: navy; 
}
#head_table_create_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;   
}
.box_ol{
    height: 50vh;
    width: 65%;
    background-color: rgba(182, 182, 245, 0.95);
    padding: 30px 20px 20px 30px;
    position: absolute;
    top: 16vh;
    left: 16%;
    
}
.box_ul{
    height: 50vh;
    width: 65%;
    background-color: rgba(182, 182, 245, 0.95);
    padding: 30px 20px 20px 30px;
    position: absolute;
    top: 16vh;
    left: 16%;
    
}
#head_ol_create_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;   
}
#head_ul_create_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;   
}
.disabled{
    display: none;
}
